.Topbar { 
    width: 500px;
    height: 125px;

    display: flex;
    flex-direction: row;
    align-content: center;

    border-radius: 0 0 500px 0;
    box-shadow: 0 0 8px 5px var(--dark-theme-colour-4);

    background-color: var(--dark-theme-colour-1)
}

.Topbar__meow-apps-logo-container { 
    margin: auto 0 auto 30px;

    width: 110px; 
    height: 110px; 

    border-radius: 50%;

    background-image: url('./cat_pfp_product_11.JPG');
    background-position: center;
    background-size: contain;

    transition: transform ease-in-out 0.55s; 
}

.Topbar__meow-apps-logo-container:hover {
    transform: rotate(720deg);
}

.Topbar__meow-apps-title-container { 
    user-select: none;

    margin: auto auto auto 50px;

    font-size: 2.25rem;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--dark-theme-colour-5);
}

.meow-apps-title-container__underline { 
    margin-top: 4px;

    width: 120%; 
    height: 2.5px;
    
    background-color: var(--dark-theme-colour-5);
}